<div class="container">
  <h1 class="home-heading text-center">Group My Expenses</h1>
</div>
<%= link_to 'Login', login_path, class: 'nav-link btn btn-primary mx-5 py-3'%>
<%= link_to 'Signup', signup_path, class: 'nav-link btn mx-5 py-3' %>
