<div class="container">
  <h1 class="home-heading text-center">Group My Expenses</h1>
</div>
<%= link_to 'Login', login_path, class: 'nav-link btn btn-primary mx-5 py-3'%>
<%= link_to 'Signup', signup_path, class: 'nav-link btn mx-5 py-3' %>

<div class="nav-item dropdown show mr-4">
        <a class="" href="#" role="button" id="menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-bars"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="menu">
          <%= navbar_dropdown_items %>
        </div>
</div>